/*
    Meta Information
    -----------------
    Author: Ben Wilhelm
    Version: 1.2.1
    Created: 2024-11-18
    Description: CSS-Datei für das Banner Overlay der Sain Community Webseite.
    Enthält alle Stile für Überlagerungen, Texte und Layout des Bannerbereichs.
    -----------------
*/

/* Banner Overlay */

.banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%; /* Breite von 50% des Banners, um die linke Hälfte abzudecken */
    height: 420px; /* Höhe des Banners */
    background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)); /* Verlauf von 100% Schwarz nach 0% */
    display: flex;
    align-items: center;
    z-index: 2; /* Höherer Z-Index, damit es über dem Banner angezeigt wird */
    /* Entferne pointer-events: none; damit die Buttons interaktiv bleiben */
}

.overlay-content {
    position: absolute; /* Setze die Position auf absolut, um sie relativ zum übergeordneten Container zu positionieren */
    bottom: 40px; /* Abstand von unten: Hier kannst du zwischen 20px oder 40px wählen */
    left: 100px; /* Beibehaltung des Abstands von links für den Text */
    color: #fff;
    max-width: 80%; /* Optional: Begrenzung der Textbreite für bessere Lesbarkeit */
}


.overlay-content h1 {
    font-size: 2.5em;
    margin: 0 0 10px;
}

.overlay-content .season {
    color: var(--smcs);
}

.overlay-content p {
    font-size: 1.2em;
    margin: 0 0 20px;
    line-height: 1.5;
    max-width: 80%;
}

.purchase-btn {
    text-decoration: none;
    padding: 15px;
    background-color: var(--g-bg);
    color: var(--active-green);
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    z-index: 3; /* Höherer Z-Index, damit der Button auch über anderen Elementen bleibt */
    position: relative; /* Ermöglicht es, das Pseudo-Element zu positionieren */
}

.purchase-btn:hover {
    color: var(--s-blue);
}

.purchase-btn .coin-info{
    font-weight: bold;
}

.purchase-btn:hover {
    color: var(--s-blue);
}

.coin-info {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 500;
}