/*
    Meta Information
    -----------------
    Author: Ben Wilhelm
    Version: 1.0
    Created: 2024-11-18
    Description: CSS-Datei für den Sain.ID-Bereich der Sain Community Webseite.
    Enthält alle Styles für das Profil, die Seitenleiste, und die Darstellung von Benutzerinformationen im Sain.ID-Bereich.
    -----------------
*/

/* Sain.ID Section */

.sainid-section {
    display: flex;
    gap: 20px;
    padding: 100px 50px 50px 50px;
    background-color: var(--dg-bg);
    height: 800px;
}

.sainid-sidebar {
    width: 230px;
    background-color: var(--dgo-bg);
    border-radius: 30px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    height: calc(100% - 40px); 
    max-height: 800px; 
}

.sainid-header-sidebar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    background-color: var(--gray);
    border-radius: 30px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.sainid-header-sidebar img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.sainid-header-sidebar .user-info {
    display: flex;
    flex-grow: 1;
    color: #fff;
}

.sainid-header-sidebar .user-info .user-name {
    font-weight: bold;
    font-size: 1em;
    margin-right: auto;
}

.sainid-header-sidebar .user-info .user-id {
    font-size: 0.9em;
    color: var(--txt-lg);
    display: flex;
    align-items: center;
    gap: 5px;
    padding-right: 10px;
}

.sainid-header-sidebar .user-info .user-id::before {
    content: '|';
    color: var(--txt-lg);
}

.sainid-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    flex-grow: 1; 
}

.sainid-menu .menu-item {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1em;
    color: var(--txt-lg);
    cursor: pointer;
}

.sainid-menu .menu-item.active {
    color: var(--s-blue);
}

.sainid-menu .menu-item:hover {
    background-color: var(--gray);
    color: var(--s-blue);
    border-radius: 5px;
}

.sainid-menu .menu-item a {
    width: 100%;
    padding: 12px 8px;
    color: inherit;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

.settings-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    font-size: 1em;
    color: var(--txt-lg);
    cursor: pointer;
    margin-top: auto; 
}

.settings-item:hover {
    background-color: var(--gray);
    color: #fff;
    border-radius: 5px;
}

/* SainID content */
.sainid-content {
    flex: 3;
    background-color: var(--dgo-bg);
    border-radius: 30px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    max-height: 85vh;
}

/* Section Header */
.sainid-content-header {
    display: flex;
    justify-content: space-between; /* Abstand zwischen h2 und der Utility-Bar */
    align-items: center; /* Vertikale Zentrierung */
    margin-bottom: 10px; /* Abstand zur Trennlinie */
    width: 100%;
}

.sainid-content h2 {
    margin: 4px 0px 0px 0px;
    font-size: 1.2em;
}

/* Utility Bar */
.sainid-utility-bar {
    display: flex;
    align-self: flex-end;
    gap: 20px; /* Abstand zwischen den Icons */
    border-radius: 10px;
    color: #fff;
    font-size: 1.1em;
    font-weight: bold;
}

/* Utility Items */
.utility-item {
    display: flex;
    align-items: center;
    gap: 5px; /* Abstand zwischen Icon und Text */
    cursor: pointer;
}

.utility-item i {
    background: linear-gradient(to bottom, var(--s-red), var(--s-blue));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Überschreibe das letzte Icon */
.utility-item:last-child i {
    background: none; /* Kein Hintergrundverlauf */
    -webkit-text-fill-color: currentColor; /* Normale Textfarbe */
    color: #fff; /* Falls benötigt, eine spezifische Farbe */
}

.utility-item:hover:first-child {
    transform: translateY(-2px);
    color: var(--s-blue);
}

/* Dynamische Anpassung */
.utility-bonus, .utility-balance, .utility-action {
    padding: 5px;
    border-radius: 5px;
}

/* Trennlinie */
.section-divider {
    border: none;
    height: 1px;
    background-color: var(--gray); /* Farbe der Trennlinie */
    margin: 10px 0; /* Abstand zur Trennlinie oben und unten */
}