/*
    Meta Information
    -----------------
    Author: Ben Wilhelm
    Version: 1.2.2
    Created: 2024-11-18
    Updated: 2024-12-01
    Description: CSS-Datei für den Sain.ID-Bereich der Sain Community Webseite.

    -----------------
*/

/* Sain.ID Profile Section */

.profile-header {
    display: flex;
    position: relative;
}

.profile-banner {
    display: flex;
    flex-direction: column;
    position: relative;
}

.profile-banner img {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 3; /* Breiter, aber kürzer als 16:9 */
    border-radius: 10px;
    object-fit: cover;
}

.profile-banner .sainid-utility-bar {
    padding-top: 20px;
}

.profile-picture {
    position: absolute;
    top: 225px;
    left: 20px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid var(--dgo-bg);
}

.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-details {
    display: flex;
    margin-top: 30px;
    gap: 20px;
}

/* Profile Info Styling */
.profile-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 650px;
}

.info-group {
    position: relative;
    display: flex;
    flex-direction: column;
}

.info-group label {
    font-size: 0.9rem;
    font-style: italic;
    color: var(--txt-lg);
    margin-bottom: 5px;
}

.info-value {
    padding: 8px;
    background-color: var(--gray);
    border-radius: 5px;
    color: #fff;
    width: 100%;
    box-sizing: border-box;
    font-size: 1rem;
}

.input-icon-group i {
    position: absolute;
    right: 10px;
    color: var(--txt-lg);
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.input-icon-group i:hover {
    color: var(--s-blue);
}

.linked-accounts {
    flex: 1;
    padding: 20px;
    background-color: var(--dgo-bg);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.linked-accounts h3 {
    margin: 0 0 20px;
    font-size: 1.2em;
    color: #fff;
}

.linked-account {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.linked-account input {
    flex: 1;
    padding: 10px;
    background-color: var(--gray);
    border: none;
    border-radius: 5px;
    color: #fff;
}

.copy-btn {
    padding: 5px 10px;
    background-color: var(--s-blue);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
