/* Shop Section */

/* Shop Grid */
.shop-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Immer 3 Spalten */
    gap: 20px; /* Abstand zwischen den Karten */
    width: calc(100% - 10px); /* Reduzierte Breite, um Platz für die Scrollbar zu schaffen */
    max-height: 700px; /* Begrenze die maximale Höhe */
    overflow-y: auto; /* Scrollbar aktivieren */
    border-radius: 10px; /* Abrundung */
    padding-right: 10px; /* Platz für die Scrollbar */
    padding-top: 10px; /* Platz für die Scrollbar */
    box-sizing: content-box; /* Padding wird außerhalb der Breite gezählt */
}

/* Optional: Für schönere Scrollbars */
.shop-grid::-webkit-scrollbar {
    width: 10px;
}

.shop-grid::-webkit-scrollbar-track {
    background: var(--gray); /* Hintergrund der Scrollbar */
}

.shop-grid::-webkit-scrollbar-thumb {
    background: var(--s-blue); /* Farbe der Scrollbar */
    border-radius: 5px;
}

.shop-grid::-webkit-scrollbar-thumb:hover {
    background: var(--active-green); /* Hover-Farbe der Scrollbar */
}

/* Shop Cards */
.shop-card {
    background-color: var(--dg-bg);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 100%; /* Ensure the card spans full grid cell */
    cursor: pointer;
}

.shop-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.shop-card img {
    width: 100%;
    aspect-ratio: 32/9;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    object-position: top; /* Diese eingabe mus custom einstellbar sein je nach image (mögliche einbinde möglichkeit bei einem frontend design) */ 
}

.shop-card-details {
    padding: 15px;
}
.shop-card h3 {
    font-size: 1.2em;
    color: #fff;
    margin: 0;
    align-items: flex-start;
}

.shop-card p {
    color: var(--txt-lg);
    font-size: 0.9em;
}

.shop-card .price {
    font-size: 1.1em;
    font-weight: bold;
    color: var(--s-red);
}

.shop-card .btn {
    justify-self: flex-end;
    margin-top: auto;
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: var(--dgo-bg);
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.shop-card .btn:hover {
    background-color: var(--s-red);
}


/* Responsive Design for Smaller Screens */
@media screen and (max-width: 1024px) {
    .shop-grid {
        grid-template-columns: repeat(2, 1fr); /* Switch to 2 columns */
    }
}

@media screen and (max-width: 768px) {
    .shop-grid {
        grid-template-columns: 1fr; /* Switch to single-column layout */
    }
}
