/*
    Meta Information
    -----------------
    Author: Ben Wilhelm
    Version: 1.0
    Created: 2024-11-18
    Description: CSS-Datei für den Sain.ID-Bereich der Sain Community Webseite.

    -----------------
*/

/* Sain.ID Transactions Section */

.transaction-embed {
    margin-top: 25px;
    background-color: var(--dg-bg);
    border-radius: 10px;
}

.transactions-section {
    padding: 40px 20px;
    text-align: left;
}

/* Banner und Status im Banner */
.transaction-banner {
    position: relative;
    width: 100%;
    height: 77px;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}

.transaction-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.transaction-status {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 15px;
    border-radius: 15px;
    font-weight: bold;
    color: #fff;
    font-size: 0.9em;
}
/*
.status-active {
    background-color: var(--active-green);
}

.status-inactive {
    background-color: var(--inactive-red);
}

.status-neutral {
    background-color: var(--lg);
}
*/
/* Content der Transaktion */
.transaction-details {
    padding: 15px;
}

.transaction-header {
    position: relative;
}

.transaction-header h3 {
    margin: 0;
}

.transaction-header .subheadline {
    margin-top: 2px;
    font-style: italic;
    color: var(--txt-lg);
}

.transaction-header .transaction-logo {
    position: absolute;
    top: 0;
    right: 0;
}

.transaction-logo img {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    object-fit: cover;
}

/* Metainformationen der Transaktion */
.transaction-meta {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.transaction-meta ul {
    width: 50%;
    list-style: none;
    padding: 15px;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Zwei Spalten */
    grid-template-rows: repeat(4, auto); /* Vier Zeilen */
    gap: 15px 40px;
    background-color: var(--dgo-bg);
    border-radius: 5px;
    overflow: hidden;
}

.transaction-meta li {
    display: flex;
    justify-content: space-between;
    color: var(--txt-lg);
}

.transaction-meta .value {
    color: var(--s-blue);
    cursor: pointer;
}

.transaction-meta i {
    background: linear-gradient(to bottom, var(--s-red), var(--s-blue));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.transaction-meta .meta-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.transaction-meta .meta-item span {
    font-weight: bold;
    color: #fff;
}

.transaction-meta .meta-item span.value {
    font-weight: normal;
    color: var(--txt-lg);
}

/* Text innerhalb der Transaktion */
.transaction-text {
    width: 50%;
    background-color: var(--dgo-bg);
    padding: 15px;
    border-radius: 5px;
    color: var(--txt-lg);
}

.transaction-text p {
    margin: 0;
}

/* Footer und zusätzliche Informationen */
.transaction-footer {
    margin-top: 20px;
    display: flex;
    align-items: center;
    color: var(--txt-lg);
    font-size: 0.9em;
}

.transaction-footer .transaction-info {
    width: calc(25% - 7.5px);
    display: flex;
    align-items: center;
    gap: 10px;
}

.transaction-footer .transaction-info img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    object-fit: cover;
}

.transaction-footer .transaction-info p {
    margin: 0;
}

.transaction-footer .transaction-balance {
    width: calc(25% - 7.5px);
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Zentriere den Inhalt des Balances-Bereichs */
    gap: 5px;
}

.transaction-footer .transaction-balance span {
    color: var(--txt-lg);
    font-weight: bold;
}

.transaction-footer .transaction-balance span i {
    background: linear-gradient(to bottom, var(--s-red), var(--s-blue));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.transaction-footer .transaction-balance .transaction-amount {
    color: var(--s-red);
}

.transaction-footer .transaction-actions {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Positioniere die Aktionen am rechten Rand des Containers */
    margin-left: auto;
}

.transaction-footer .transaction-actions a {
    color: var(--s-blue);
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: bold;
    cursor: pointer;
}

.transaction-footer .transaction-actions a:hover {
    color: var(--s-red);
}

@media only screen and (max-width: 1800px) {
    .transaction-meta {
        flex-direction: column;
    }

    .transaction-meta ul {
        width: auto;
    }

    .transaction-text {
        width: auto;
    }

    .transaction-footer {
        position: relative;
        height: 60px;
    }

    .transaction-footer .transaction-info {
        width: 50%;
    }

    .transaction-footer .transaction-balance {
        position: absolute;
        top: 0;
        width: 100%;
        justify-content: space-between;
    }

    .transaction-footer .transaction-info {
        position: absolute;
        top: 40px;
    }

    .transaction-footer .transaction-actions {
        position: absolute;
        top: 40px;
        right: 0;
    }
}
